.about {
  &__inner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    font-family: "Roboto", sans-serif;
  }

  &__image {
    img {
      border-radius: 50%;
      width: 400px;
      height: 400px;
      margin: auto;
    }
  }

  &__info {
    h3 {
      margin: 30px 0 50px;
      font-size: 30px;
    }
    &-me {
      margin-bottom: 50px;
      p {
        display: flex;
        font-size: 20px;
        letter-spacing: 1px;

        span {
          color: #ae5c3b;
          margin-right: 20px;
        }
      }
    }
  }
}

.about__info-skills {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 70px;

    li {
      display: grid;
      place-items: center;
      width: 200px;
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 100px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
  }
}

@media screen and (max-width: 1050px) {
  .about {
    padding: 0 30px;
    margin: auto;

    &__inner {
      justify-content: center;
      grid-template-columns: 1fr;

      ul {
        justify-content: center;

        li {
          width: 150px;
        }
      }
    }

    &__image {
      text-align: center;
    }
  }
}
